$blue: #2584ff;
$white: #fff;
$blue-hover: #0091ff;

.btn {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  background-color: $blue;
  color: $white;
  width: 178px;
  border-radius: 2px;
  padding: 10px;
  cursor: pointer;
}

.primary {
  background-color: $blue;
  color: $white;

  &:hover {
    background-color: $blue-hover;
  }
}

.secondary {
  background-color: transparent;
  color: $blue;
  border: 1px solid $blue;

  &:hover {
    color: $blue-hover;
    border: 1px solid $blue-hover;
  }
}
