.AccItem {
  width: 100%;
  max-width: 832px;
  margin: 0 auto;
  padding: 56px 10px;
  border-top: 1px solid rgba(0, 65, 102, 0.2);
  border-bottom: 1px solid rgba(0, 65, 102, 0.2);
  list-style-type: none;
  max-height: 568px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-weight: 700;
  font-size: 32px;
  line-height: 130%;
  color: #002033;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: rgba(37, 132, 255, 1);
  border-radius: 50%;
  cursor: pointer;
  color: white;
  transition: all 300ms ease-in-out;
}

.clickedIcon {
  background: transparent;
  border: 1px solid rgba(37, 132, 255, 1);
  transition: all 300ms ease-in-out;
}

.content {
  height: 0;
  opacity: 0;
  display: flex;
  overflow: hidden;
  transition: all 400ms ease-in-out;
  margin-top: 20px;
  p {
    max-width: 688px;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: rgba(0, 32, 51, 0.6);
  }
}

.show {
  height: 50px;
  opacity: 1;
}

.show .icon {
  background: white;
}
